<div class="container">

    <div class="hero d-flex align-items-center mt-5">
        <div class="desk">
            <div>
                <img src="assets/img/sangadol biru.png" alt="" class="logo">
            </div>

            <div class="garis-horizontal ms-5"></div>

            <div>
                <p class="text-hero">Sangadol adalah sebuah komunitas yang bertujuan untuk mendukung perkembangan industri peridolan di Yogyakarta.
                    <br><br>
                    Komunitas ini juga bertujuan membangun ikatan yang solid antara idol group dan penggemar.
                    <br><br>
                    Sangadol juga memiliki cita-cita untuk memberikan ruang yang nyaman untuk semua kalangan dalam industri peridolan.</p>
            </div>
        </div>

    </div>

    <div class="mt-5 our-idol">
        <p class="text-idol text-center">! ! ! OUR IDOL ! ! !</p>
    </div>

    <div class="container mt-5">


        <div class="box">
            <h1 class="idol-title">KOHI SEKAI</h1>
            <img src="assets/img/kohisekai.jpg" class="img-idol img-fluid" alt="">
            <p class="desc-idol">Kohi Sekai yang berarti Dunia Kopi. Kehadiran Idol Group ini diharapkan dapat menjadi seperti kopi yang memberi semangat di pagi hari dan mampu menambahkan energi saat malam hari untuk beraktifitas. Terbentuk sejak 19 Juni 2019, Kohi Sekai berada dibawah naungan Bedaunik.com Entertainment. Beranggotakan 3 member yang memiliki talenta yang spesial.</p>
        </div>

        <div class="box">
            <h1 class="idol-title">JKT48</h1>
            <img src="assets/img/jkt48.jpg" class="img-idol" alt="">
            <p class="desc-idol">JKT48 adalah Idol Grup berasal dari Indonesia yang merupakan saudari idol grup Jepang yaitu AKB48 dan juga merupakan sister pertama dari AKB48. Mengadopsi konsep AKB48, "Idol you can meet" idol grup ini mengadakan pertunjukan rutin di JKT48 Theater yang terletak di fX Sudirman, Jakata. JKT48 juga terus menambah membernya disetiap tahun dengan cara membuka audisi.</p>
        </div>

        <div class="box">
            <h1 class="idol-title">MINERVA LAND</h1>
            <img src="assets/img/minervaland.jpg" class="img-idol" alt="">
            <p class="desc-idol">Minerva Land merupakan idol grup yang berasal dari Yogyakarta dan memulai debutnya pada 3 Agustus 2019. Minerva Land beranggotakan 5 member yang setiap membernya mewakili 1 nama spesies kupu-kupu.</p>
        </div>

        <div class="box">
            <h1 class="idol-title">IRIS IDOL</h1>
            <img src="assets/img/irisidol.jpg" class="img-idol" alt="">
            <p class="desc-idol">Iris Idol merupakan idol grup yang berasal dari Yogyakarta dan memulai debutnya pada 3 Agustus 2019. Minerva Land beranggotakan 5 member yang setiap membernya mewakili 1 nama spesies kupu-kupu.</p>
        </div>



    </div>


</div>