.hero{
    margin-top: 50px;
    margin: auto;
    width: 1200px;
    height: 500px;
    background-color: #1B1F22;
    border-radius: 10px;
}

.desk {
    display: flex;
}

.logo {
    width: 250px;
    height: 250px;
    margin-left: 3.5rem;
}


.text-hero {
    color: whitesmoke;
    font-size: 19px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
}


.garis-horizontal {
    width: 2px;
    height: 250px;
    background-color: whitesmoke;
}

.text-idol {
    font-weight: 700;
    color: #ff4e49;
    font-size: 40px;
}

.box {
    color: whitesmoke;
    text-align: center;
    height: 400px;
    width: 800px;
    border-radius: 10px;
    background-color: #1B1F22;
    margin-top: 50px;
    margin: auto;
}

.idol-title {
    margin-top: 20px;
    color: #ff4e49;
}

.desc-idol {
    margin-right: 30px;
    margin-left: 30px;
}

.img-idol {
    width: 300px;
    margin-bottom: 20px;
}






// Respomsive
@media  screen and (max-width: 420px) {
    .hero {
        width: 300px;
        height: 500px;
    }

    .garis-horizontal {
        display: none;
    }

    .desk {
        display: block;
    }
    
    .logo {
        width: 150px;
        height: 150px;
        margin-left: 5rem;
        margin-top: 2rem;
    }


    .text-hero {
        font-size: 14px;
    }

    .box {
        width: 275px;
        height: 500px;
        margin :auto;
    }

    .img-idol{
        width: 200px;
    }

}
